.page-header {
  background-color: $dark-back;
  padding: 19px 0 60px;
}

.auth-button {
  font-family: inherit;
  font-weight: 400;
}

.site-menu__link {
  font-family: inherit;
  font-weight: 400;
}
