$dark-back: #161c35;
$main-back: #192144;
$main-square: #141b3b;
$primary-color: #ffd74b;
$title-color: #ff8d30;
$light-back: #edeff6;
$light-square: #e2e5f2;
$white-text: #ffffff;
$grey-text: #444444;
$blue-dark-text: #161c35;
$blue-light-text: #1d2e5b;
